
/* Demo styles only */
body {
    margin: 2rem 3rem;

}

p {
    margin: 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h2 small {
    display: block;
}

p, blockquote {
    font-size: 1.25rem;
    line-height: 1.4;
}